.category-image {
    width: 13em;
    height: 14em;
    padding: 1em 1em 1em 1em;
}

.category-header {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.category {
    margin: 0em 1em 1em 1em;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 20em;
    width: 15em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-style: solid;
    border-width: .2em;
    border-color: black;
    color: black;
    place-items: center;
    text-decoration: none;
}

    .category:hover {
        transform: scale(1.05);
        transition: 0.6s;
    }
