.categories-component {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.categories-component-item {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    gap: 3em;
}

@media(max-width:950px) {
    .categories-component-item {
        grid-template-columns: auto auto;
        gap: 0em;
    }
}

@media(max-width:600px) {
    .categories-component-item {
        grid-template-columns: auto;
    }
}